<div class="h-full">
  <div class="border rounded-lg py-4 px-8">
    <div class="flex justify-between">
      <div class="text-lg">
        <span class="text-xl font-semibold">1,894</span> night
      </div>
      <div class="text-gray-600 underline">1 review</div>
    </div>
    <div class="mt-6 border border-gray-300 rounded-t-lg flex px-2">
      <div class="flex-1 border-r border-gray-500 py-2">
        <div class="text-xs font-semibold">CHECK-IN</div>
        <div>4/10/2023</div>
      </div>
      <div class="flex-1 py-2 px-2">
        <div class="text-xs font-semibold">CHECK-OUT</div>
        <div>4/10/2023</div>
      </div>
    </div>
    <div class="border rounded-b-lg p-2 border-gray-300">
      <div class="text-xs font-semibold">Guests</div>
      <div>2 guests</div>
    </div>

    <div
      class="mt-2 rounded-xl bg-[#ff385c] text-white py-4 flex justify-center text-[20px]"
    >
      Reserve
    </div>
    <div class="text-center mt-2 text-gray-600">You won't be charged yet</div>

    <div class="mt-4 flex flex-col gap-4">
      <div class="flex justify-between text-[17px]">
        <div class="underline">1,894 x 19 nights</div>
        <div>37,100</div>
      </div>
      <div class="flex justify-between text-[17px]">
        <div class="">Weekly stay discount</div>
        <div>-1,113</div>
      </div>
      <div class="flex justify-between text-[17px]">
        <div class="underline">Airbnb service fee</div>
        <div>5,081</div>
      </div>
      <div class="mt-2 pt-4 border-t-2 flex justify-between text-[17px]">
        <div class="text-xl font-semibold">Total</div>
        <div>41,068</div>
      </div>
    </div>
  </div>
</div>
