<div class="flex mb-10">
  <div>
    <img [src]="area?.image" class="h-[280px] w-80 rounded-xl" />
    <div
      class="relative -top-[260px] left-[280px] cursor-pointer"
      (click)="toggleLike()"
    >
      <ng-icon name="heroHeartSolid" color="gray" size="26"></ng-icon>
    </div>
    <div class="-mt-2">
      <div class="flex justify-between">
        <div class="font-semibold">{{ area?.name }}</div>
        <div class="flex items-center gap-1">
          <ng-icon name="heroStarSolid"></ng-icon>{{ area?.rating }}
        </div>
      </div>
      <div class="text-gray-600">{{ area?.distance }} Kilometers away</div>
      <div class="text-gray-600">{{ area?.date | date : "dd/MM" }}</div>
      <div class="font-semibold">
        {{ area?.price | currency : "INR" }} night
      </div>
    </div>
  </div>
</div>
