<div class="w-full border-b-2 fixed bg-white">
  <div class="flex items-center px-10 py-4">
    <div class="flex-1 flex gap-2 font-bold text-2xl text-[#ff385c] font_bello">
      <img
        src="https://cdn.icon-icons.com/icons2/2699/PNG/512/airbnb_logo_icon_170605.png"
        class="h-8 w-8"
      />
      airbnb
    </div>
    <div class="flex-1">Something</div>
    <div class="flex gap-6 w-80 items-center">
      <div class="font-semibold w-36">Airbnb your home</div>
      <div>O</div>
      <div class="border flex items-center px-3 py-1.5 gap-6 rounded-full">
        <div>s</div>
        <div
          class="bg-gray-400 h-8 w-8 rounded-full flex items-center justify-center"
        >
          s
        </div>
      </div>
    </div>
  </div>
</div>
